﻿<html>
<head>
    <style>
        html, body {
            padding: 0;
        }

        table.bordered, table.unbordered {
            border-collapse: collapse;
        }

            table.bordered, table.bordered td, table.bordered th {
                border: 1.5px solid #000;
            }

            table.unbordered, table.unbordered td, table.unbordered th {
                border: 0;
            }

        td {
            vertical-align: middle;
        }

        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #FFFFFF;
            font: 6pt "calibri";
        }

        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .page {
            width: 148mm;
            height: 209mm;
            padding: 0mm;
            margin: 0 auto;
            border-radius: 5px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .subpage {
            /*atur frame page. hapus semua utk buat clean*/
            height: 209mm;
            width: inherit;
            padding: 0mm;
            overflow: hidden;
            position: relative;
        }

        .layout {
            padding-right: 5mm;
            padding-left: 5mm;
            padding-top: 0mm;
            padding-bottom: 1mm;
        }

        .bottom {
            width: inherit;
            bottom: 5mm;
            position: absolute;
            font-size: 5pt;
            font-family: "Arial Narrow";
            color: gray;
        }

        @page {
            size: A4;
            margin: 0;
        }

        @media print {
            html, body {
                width: 210mm;
                height: 297mm;
            }

            .page {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                page-break-after: always;
            }
        }

        .tblAlternate tr:nth-child(even) td {
            background-color: #EFF0F1;
        }

        .defaultBGcolor {
            background-color: #FFFFFF !important;
        }

        .auto-style1 {
            height: 20px;
        }
    </style>
</head>
<body style='font-size:6pt;font-family: Arial'>
    <div class="page">
        <div class="subpage">
            <div class="layout">
                <table style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:0px;width:100%;position:relative;'>
                    <tr>
                        <td rowspan='7' colspan='1' style="text-align:center;vertical-align: bottom;">
                            <img style='width:50px;height:auto;' src='data:image/png;base64,{{projectImage}}' />
                        </td>
                    </tr>
                    <tr>
                        <td style='padding-top:0em;'></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td style='text-align:right;font-weight:700;color:#95a5a6;font-family:Arial;font-size:9pt;padding-bottom:0.2em;padding-top:0em;'>Cashier Copy</td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td style='font-size:6pt;font-weight:700;padding-left:2em;'>{{accountName}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td style='padding-left:2.5em;' rowspan="2">{{accountAddress}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td align='right' style='text-align:left'>No. / Number</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{transNo}}</td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>Tgl. / Date</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{paymentDateFormat}}</td>
                    </tr>

                    <tr style="font-size:6pt">
                        <td style="padding-left:2.5em"></td>
                        <td></td>
                        <td></td>
                        <td style='border-top:1px solid #000;' colspan='3'></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>NPWP</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{accountNPWP}}</td>
                    </tr>

                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>No. PKP</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{accountPKP}}</td>
                    </tr>

                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>Tgl. / Date PKP</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{accountPKPDate}}</td>
                    </tr>

                </table>
                <div style='clear:both;'></div><br>
                <p style='font-size:10pt;margin-bottom:0px;font-style:italic;font-family: Arial;margin-top:0;' align='center'><strong>OFFICIAL RECEIPT</strong></p>
                <hr style='background-color: #000;color: #000;border: none;height: 0.6px;'> <br>
                <table class='unbordered' style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:0px; vertical-align:top' width='100%'>
                    <tr>
                        <td style='padding:0;width:20%'>Telah diterima dari</td>
                        <td rowspan='2' style="width:2%">:</td>
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2' colspan="3">{{psCode}} - {{custName}}</td>
                    </tr>
                    <tr>
                        <td style='padding:0;'>(Received from)</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style='padding-top:0.5em'>Unit</td>
                        <td rowspan='2'>:</td>
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2'>[{{unitCode}}] {{clusterName}} Lantai {{lantai}} - {{unitNo}}</td>

                    </tr>
                    <tr>
                        <td>(Unit)</td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td style='padding-top:0.5em'>Untuk pembayaran</td>
                        <td rowspan='2'>:</td>
                        <!--TODO: Make a new variable yang dimana tabel nya blm tau nanti tanya lagi.-->
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2' colspan="3">{{paymentFor}}</td>

                    </tr>
                    <tr>
                        <td>(As payment for)</td>
                        <td></td>
                        <td></td>

                    </tr>
                </table>
                <br>
                <table class="table bordered" style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:2px;width:100%;position:relative;'>
                    <thead>
                        <tr>
                            <td style='text-align:center;font-weight:bold;'>Keterangan/Description</td>
                            <td style='text-align:center;font-weight:bold;'>Jumlah/Amount</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{dataAllocHtml}}
                        <tr>
                            <td>Total</td>
                            <td>
                                <div style='float:left'>Rp.</div>
                                <div style='text-align:right'>{{totalAll}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:5px;width:100%;'>
                    <tr>{{terbilang}} Rupiah</tr>
                </table>
                <br>
                <table align='right' style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:0px;'>
                    <tr style='text-align:center;'><td>_________________</td></tr>
                    <tr style='text-align:center;'><td>{{userLogin}}</td></tr>
                </table>
                <br>
                &nbsp;
            </div>
            <div class="bottom layout">
                <hr style="border: 0;border-top:3px double #8c8c8c;color:black;">
                <div style="color:gray;">Catatan / Note :</div>
                <div style="margin:5px">
                    - Penerimaan Bilyet Giro / Cek hanya dapat diakui bila dicantumkan {{accountName}}
                    <hr>
                </div>
                <div style="margin:5px">
                    &nbsp;&nbsp;Bilyet Giro / Cheque/s should be made payable to {{accountName}}
                    <br>
                    - Pembayaran dengan uang kontan hanya sah bila ada kwitansi resmi dari {{accountName}}
                    <hr>
                </div>
                <div style="margin:5px">
                    &nbsp;&nbsp;Cash payment is valid only with official receipt of {{accountName}}
                    <br>
                    - Pembayaran Bilyet Giro / Cek sah hanya bila telah diclearingkan di bank dan dikeluarkan Official Receipt
                    <hr>
                </div>
                <div style="margin:5px">
                    &nbsp;&nbsp;Payment with Bilyet Giro / Cheque is after Bank's clearance and the issuance of {{accountName}}
                </div>
                <div style="font-family: Apple Chancery;font-style:italic;text-align:center;margin:5px;background-color:lightgray;font-size:7pt;color:black;font-weight:600;">
                    Terima kasih atas pembayaran yang telah dilakukan Bapak / Ibu
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="subpage">
            <div class="layout">
                <table style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:0px;width:100%;position:relative;'>
                    <tr>
                        <td rowspan='7' colspan='1' style="text-align:center;vertical-align: bottom;">
                            <img style='width:50px;height:auto;' src='data:image/png;base64,{{projectImage}}' />
                        </td>
                    </tr>
                    <tr>
                        <td style='padding-top:0em;'></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td style='text-align:right;font-weight:700;color:#95a5a6;font-family:Arial;font-size:9pt;padding-bottom:0.2em;padding-top:0em;'>Customer Copy</td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td style='font-size:6pt;font-weight:700;padding-left:2em;'>{{accountName}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td style='padding-left:2.5em;' rowspan="2">{{accountAddress}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td align='right' style='text-align:left'>No. / Number</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{transNo}}</td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>Tgl. / Date</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{paymentDateFormat}}</td>
                    </tr>

                    <tr style="font-size:6pt">
                        <td style="padding-left:2.5em"></td>
                        <td></td>
                        <td></td>
                        <td style='border-top:1px solid #000;' colspan='3'></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>NPWP</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{accountNPWP}}</td>
                    </tr>

                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>No. PKP</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{accountPKP}}</td>
                    </tr>

                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>Tgl. / Date PKP</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{accountPKPDate}}</td>
                    </tr>

                </table>
                <div style='clear:both;'></div><br>
                <p style='font-size:10pt;margin-bottom:0px;font-style:italic;font-family: Arial;margin-top:0;' align='center'><strong>OFFICIAL RECEIPT</strong></p>
                <hr style='background-color: #000;color: #000;border: none;height: 0.6px;'> <br>
                <table class='unbordered' style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:0px; vertical-align:top' width='100%'>
                    <tr>
                        <td style='padding:0;width:20%'>Telah diterima dari</td>
                        <td rowspan='2' style="width:2%">:</td>
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2' colspan="3">{{psCode}} - {{custName}}</td>
                    </tr>
                    <tr>
                        <td style='padding:0;'>(Received from)</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style='padding-top:0.5em'>Unit</td>
                        <td rowspan='2'>:</td>
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2'>[{{unitCode}}] {{clusterName}} Lantai {{lantai}} - {{unitNo}}</td>

                    </tr>
                    <tr>
                        <td>(Unit)</td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td style='padding-top:0.5em'>Untuk pembayaran</td>
                        <td rowspan='2'>:</td>
                        <!--TODO: Make a new variable yang dimana tabel nya blm tau nanti tanya lagi.-->
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2' colspan="3">{{paymentFor}}</td>

                    </tr>
                    <tr>
                        <td>(As payment for)</td>
                        <td></td>
                        <td></td>

                    </tr>
                </table>
                <br>
                <table class="table bordered" style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:2px;width:100%;position:relative;'>
                    <thead>
                        <tr>
                            <td style='text-align:center;font-weight:bold;'>Keterangan/Description</td>
                            <td style='text-align:center;font-weight:bold;'>Jumlah/Amount</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{dataAllocHtml}}
                        <tr>
                            <td>Total</td>
                            <td>
                                <div style='float:left'>Rp.</div>
                                <div style='text-align:right'>{{totalAll}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:5px;width:100%;'>
                    <tr>{{terbilang}} Rupiah</tr>
                </table>
                <br>
                <table align='right' style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:0px;'>
                    <tr style='text-align:center;'><td>_________________</td></tr>
                    <tr style='text-align:center;'><td>{{userLogin}}</td></tr>
                </table>
                <br>
                &nbsp;
            </div>
            <div class="bottom layout">
                <hr style="border: 0;border-top:3px double #8c8c8c;color:black;">
                <div style="color:gray;">Catatan / Note :</div>
                <div style="margin:5px">
                    - Penerimaan Bilyet Giro / Cek hanya dapat diakui bila dicantumkan {{accountName}}
                    <hr>
                </div>
                <div style="margin:5px">
                    &nbsp;&nbsp;Bilyet Giro / Cheque/s should be made payable to {{accountName}}
                    <br>
                    - Pembayaran dengan uang kontan hanya sah bila ada kwitansi resmi dari {{accountName}}
                    <hr>
                </div>
                <div style="margin:5px">
                    &nbsp;&nbsp;Cash payment is valid only with official receipt of {{accountName}}
                    <br>
                    - Pembayaran Bilyet Giro / Cek sah hanya bila telah diclearingkan di bank dan dikeluarkan Official Receipt
                    <hr>
                </div>
                <div style="margin:5px">
                    &nbsp;&nbsp;Payment with Bilyet Giro / Cheque is after Bank's clearance and the issuance of {{accountName}}
                </div>
                <div style="font-family: Apple Chancery;font-style:italic;text-align:center;margin:5px;background-color:lightgray;font-size:7pt;color:black;font-weight:600;">
                    Terima kasih atas pembayaran yang telah dilakukan Bapak / Ibu
                </div>
            </div>
        </div>
    </div>
    <div class="page">
        <div class="subpage">
            <div class="layout">
                <table style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:0px;width:100%;position:relative;'>
                    <tr>
                        <td rowspan='7' colspan='1' style="text-align:center;vertical-align: bottom;">
                            <img style='width:50px;height:auto;' src='data:image/png;base64,{{projectImage}}' />
                        </td>
                    </tr>
                    <tr>
                        <td style='padding-top:0em;'></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td style='text-align:right;font-weight:700;color:#95a5a6;font-family:Arial;font-size:9pt;padding-bottom:0.2em;padding-top:0em;'>PSAS Copy</td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td style='font-size:6pt;font-weight:700;padding-left:2em;'>{{accountName}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td style='padding-left:2.5em;' rowspan="2">{{accountAddress}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td align='right' style='text-align:left'>No. / Number</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{transNo}}</td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>Tgl. / Date</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{paymentDateFormat}}</td>
                    </tr>

                    <tr style="font-size:6pt">
                        <td style="padding-left:2.5em"></td>
                        <td></td>
                        <td></td>
                        <td style='border-top:1px solid #000;' colspan='3'></td>
                        <td></td>
                        <td></td>
                    </tr>

                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>NPWP</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{accountNPWP}}</td>
                    </tr>

                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>No. PKP</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{accountPKP}}</td>
                    </tr>

                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>Tgl. / Date PKP</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{accountPKPDate}}</td>
                    </tr>

                </table>
                <div style='clear:both;'></div><br>
                <p style='font-size:10pt;margin-bottom:0px;font-style:italic;font-family: Arial;margin-top:0;' align='center'><strong>OFFICIAL RECEIPT</strong></p>
                <hr style='background-color: #000;color: #000;border: none;height: 0.6px;'> <br>
                <table class='unbordered' style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:0px; vertical-align:top' width='100%'>
                    <tr>
                        <td style='padding:0;width:20%'>Telah diterima dari</td>
                        <td rowspan='2' style="width:2%">:</td>
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2' colspan="3">{{psCode}} - {{custName}}</td>
                    </tr>
                    <tr>
                        <td style='padding:0;'>(Received from)</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style='padding-top:0.5em'>Unit</td>
                        <td rowspan='2'>:</td>
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2'>[{{unitCode}}] {{clusterName}} Lantai {{lantai}} - {{unitNo}}</td>

                    </tr>
                    <tr>
                        <td>(Unit)</td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td style='padding-top:0.5em'>Untuk pembayaran</td>
                        <td rowspan='2'>:</td>
                        <!--TODO: Make a new variable yang dimana tabel nya blm tau nanti tanya lagi.-->
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2' colspan="3">{{paymentFor}}</td>

                    </tr>
                    <tr>
                        <td>(As payment for)</td>
                        <td></td>
                        <td></td>

                    </tr>
                </table>
                <br>
                <table class="table bordered" style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:2px;width:100%;position:relative;'>
                    <thead>
                        <tr>
                            <td style='text-align:center;font-weight:bold;'>Keterangan/Description</td>
                            <td style='text-align:center;font-weight:bold;'>Jumlah/Amount</td>
                        </tr>
                    </thead>
                    <tbody>
                        {{dataAllocHtml}}
                        <tr>
                            <td>Total</td>
                            <td>
                                <div style='float:left'>Rp.</div>
                                <div style='text-align:right'>{{totalAll}}</div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <br>
                <table style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:5px;width:100%;'>
                    <tr>{{terbilang}} Rupiah</tr>
                </table>
                <br>
                <table align='right' style='font-size:6pt;font-family: Arial;margin-bottom:0px;margin-top:0px;'>
                    <tr style='text-align:center;'><td>_________________</td></tr>
                    <tr style='text-align:center;'><td>{{userLogin}}</td></tr>
                </table>
                <br>
                &nbsp;
            </div>
            <div class="bottom layout">
                <hr style="border: 0;border-top:3px double #8c8c8c;color:black;">
                <div style="color:gray;">Catatan / Note :</div>
                <div style="margin:5px">
                    - Penerimaan Bilyet Giro / Cek hanya dapat diakui bila dicantumkan {{accountName}}
                    <hr>
                </div>
                <div style="margin:5px">
                    &nbsp;&nbsp;Bilyet Giro / Cheque/s should be made payable to {{accountName}}
                    <br>
                    - Pembayaran dengan uang kontan hanya sah bila ada kwitansi resmi dari {{accountName}}
                    <hr>
                </div>
                <div style="margin:5px">
                    &nbsp;&nbsp;Cash payment is valid only with official receipt of {{accountName}}
                    <br>
                    - Pembayaran Bilyet Giro / Cek sah hanya bila telah diclearingkan di bank dan dikeluarkan Official Receipt
                    <hr>
                </div>
                <div style="margin:5px">
                    &nbsp;&nbsp;Payment with Bilyet Giro / Cheque is after Bank's clearance and the issuance of {{accountName}}
                </div>
                <div style="font-family: Apple Chancery;font-style:italic;text-align:center;margin:5px;background-color:lightgray;font-size:7pt;color:black;font-weight:600;">
                    Terima kasih atas pembayaran yang telah dilakukan Bapak / Ibu
                </div>
            </div>
        </div>
    </div>
</body>
</html>