<html>
<head>
    <style>
        html, body {
            padding: 0;
        }

        table.bordered, table.unbordered {
            border-collapse: collapse;
        }

            table.bordered, table.bordered td, table.bordered th {
                border: 1.5px solid #000;
            }

            table.unbordered, table.unbordered td, table.unbordered th {
                border: 0;
            }

        td {
            vertical-align: middle;
        }

        body {
            width: 100%;
            height: 100%;
            margin: 0;
            padding: 0;
            background-color: #FFFFFF;
            font: 6pt "Times New Roman, Times, serif";
        }

        * {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }

        .page {
            padding: 0mm;
            margin: 0 auto;
            border-radius: 5px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        }

        .subpage {
            /*atur frame page. hapus semua utk buat clean*/
            width: inherit;
            padding: 0mm;
            overflow: hidden;
            position: relative;
        }
        .layout {
            padding-right: 5mm;
            padding-left: 5mm;
            padding-top: 0mm;
            padding-bottom: 1mm;
        }

        .bottom {
            width: inherit;
            bottom: 5mm;
            position: absolute;
            font-size: 5pt;
            font-family: "Times New Roman, Times, serif";
            color: gray;
        }

        @page {
            size: A4;
            margin: 0;
        }

        @media print {
            html, body {
            }

            .page {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                page-break-after: always;
            }
        }

        .tblAlternate tr:nth-child(even) td {
            background-color: #EFF0F1;
        }

        .defaultBGcolor {
            background-color: #FFFFFF !important;
        }

        .auto-style1 {
            height: 20px;
        }
    </style>
</head>
<body style='font-size:6pt;font-family: Times New Roman, Times, serif'>

    <div class="page">
        <div class="subpage">
            <div class="layout">
                <table style='font-size:6pt;font-family: Times New Roman, Times, serif;margin-bottom:0px;margin-top:0px;width:100%;position:relative;'>
                    <tr>
                        <td rowspan='9' colspan='1' style="text-align:center;vertical-align: bottom;">
                            <img style='width:50px;height:auto;' src='data:image/png;base64,{{projectImage}}' />
                        </td>
                    </tr>
                    <tr>
                        <td style='padding-top:0em;'></td>
                        <td>&nbsp;&nbsp;&nbsp;&nbsp;</td>
                        <td></td>
                        <td></td>
                        <td style='text-align:right;font-weight:700;color:#95a5a6;font-family:Times New Roman, Times, serif;font-size:9pt;padding-bottom:0.2em;padding-top:0em;'>Customer Copy</td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td style='font-size:8pt;font-weight:700;padding-left:2em;'>{{accountName}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td style='padding-left:2.5em;' rowspan="2">{{accountAddress}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td></td>
                        <td align='right' style='text-align:left'></td>
                        <td>&nbsp;&nbsp;</td>
                        <td style='text-align:left'></td>
                        <td></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td style='padding-left:2.5em;'>{{accountPhone}}</td>
                        <td></td>
                        <td style='text-align:left'></td>
                        <td>&nbsp;&nbsp;</td>
                        <td style='text-align:left'></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td style='padding-left:2.5em;'>NPWP : {{accountNPWP}}</td>
                        <td></td>
                        <td style='text-align:left'></td>
                        <td>&nbsp;&nbsp;</td>
                        <td style='text-align:left'></td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td style='padding-left:2.5em;'></td>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>OR No</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{transNo}}</td>
                    </tr>
                    <tr style='font-size:6pt;'>
                        <td style='padding-left:2.5em;'></td>
                        <td></td>
                        <td></td>
                        <td style='text-align:left'>Tanggal</td>
                        <td>:&nbsp;&nbsp;</td>
                        <td style='text-align:left'>{{paymentDateFormat}}</td>
                    </tr>
                </table>
                <div style='clear:both;'></div><br><br><br>
                <p style='font-size:10pt;margin-top:2px;margin-bottom:0px;text-decoration:underline;font-style:italic;font-family: Times New Roman, Times, serif' align='center'><strong>KWITANSI</strong></p>
                <p style='font-size:10pt;margin-bottom:0px;text-decoration:underline;font-style:italic;font-family: Times New Roman, Times, serif;margin-top:0;' align='center'><strong>OFFICIAL RECEIPT</strong></p>
                <hr style='background-color: #000;color: #000;border: none;height: 0.6px;'> <br><br>
                <table class='unbordered' style='font-size:6pt;font-family: Times New Roman, Times, serif;margin-bottom:0px;margin-top:0px; vertical-align:top' width='100%'>
                    <tr>
                        <td style='padding:0;width:20%'>Telah diterima dari</td>
                        <td rowspan='2' style="width:2%">:</td>
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2' colspan="3">{{psCode}} - {{custName}}</td>
                    </tr>
                    <tr>
                        <td style='padding:0;'>(Received from)</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style='padding-top:0.5em'>Alamat</td>
                        <td rowspan='2'>:</td>
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2' colspan="3">{{custAddress}}</td>
                    </tr>
                    <tr>
                        <td>(Address)</td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td style='padding-top:0.5em'>NPWP</td>
                        <td rowspan='2'>:</td>
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2'>{{custNPWP}}</td>
                    </tr>
                    <tr>
                        <td>(Tax Identity Number)</td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td style='padding-top:0.5em'>Unit</td>
                        <td rowspan='2'>:</td>
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2'>{{unitNo}}</td>

                    </tr>
                    <tr>
                        <td>(Unit)</td>
                        <td></td>
                        <td></td>

                    </tr>
                    <tr>
                        <td style='padding-top:0.5em'>Untuk pembayaran</td>
                        <td rowspan='2'>:</td>
                        <!--TODO: Make a new variable yang dimana tabel nya blm tau nanti tanya lagi.-->
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2' colspan="3">Merujuk ke Konfirmasi Pemesanan No : ({{kpNo}}) Tgl({{tanggalKP}})</td>
                    </tr>
                    <tr>
                        <td>(As payment for)</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style='padding-top:0.5em'>Sejumlah</td>
                        <td rowspan='2'>:</td>
                        <!--TODO: Make a new variable yang dimana tabel nya blm tau nanti tanya lagi.-->
                        <td style='font-weight:700;font-style:italic;font-size:6pt;' rowspan='2' colspan="3">{{totalAll}}</td>
                    </tr>
                    <tr>
                        <td>(Amount)</td>
                        <td></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td style='padding-top:0.5em'></td>
                        <td rowspan='2'></td>
                        <!--TODO: Make a new variable yang dimana tabel nya blm tau nanti tanya lagi.-->
                        <td style='font-weight:500;font-style:italic;font-size:6pt;' rowspan='2' colspan="3">({{terbilang}} Rupiah)</td>
                    </tr>
                </table>
            </div>
            <table align="right" style='font-size:6pt;font-family: Times New Roman, Times, serif;margin-top:80px;'>
                <tr style='text-align:center;'><td>_________________</td></tr>
                <tr style='text-align:center;'><td>({{userLogin}})</td></tr>
                <tr style='text-align:center;'><td>Finance {{projectName}}</td></tr>
            </table>
        </div>
    </div>

</body>
</html>