<tr class='bold'>
    <td></td>
    <td></td>
    <td></td>
    <td style='text-align: right;'><b>{{totalScheduleAmount}}</b></td>
    <td style='text-align: right;'><b>{{totalPaymentAmount}} </b></td>
</tr>
<tr class='bold total'>
    <td></td>
    <td></td>
    <td></td>
    <td>Outstanding Amount</td>
    <td class='pull-right'>{{outstandingAmount}}</td>
</tr>
<tr class='bold total'>
    <td></td>
    <td></td>
    <td></td>
    <td>Outstanding Penalty</td>
    <td class='pull-right'>{{outstandingPenalty}}</td>
</tr>
<tr class='bold total'>
    <td></td>
    <td></td>
    <td></td>
    <td>Total Balance</td>
    <td class='pull-right'>{{totalBalance}}</td>
</tr>
</table>
</div>

<!-- DISCLAIMER -->
<hr>
<div class='disclaimer'>
    <p>Disclaimer</p>
    <table class='disclaimer'>
        <tr>
            <td rowspan='2'>1. </td>
            <td> Isi dalam account statement ini bukan merupakan tanda terima pembayaran tetapi merupakan informasi atas pembayaran yg telah jatuh tempo, pembayaran masuk, penalty dll. </td>
        </tr>
        <tr>
            <td>
                <i>
                    Any information contained on this account statement can't be utilized as a receipt and the purpose of this account statement is to give our customers an information regarding the payment due
                    date, submitted payments, penalties, etc
                </i>
            </td>
        </tr>
        <tr>
            <td rowspan='2'>2. </td>
            <td> Jika terdapat ketidak sesuaian transaksi dalam isi account statement ini silahkan Bapak/Ibu menginformasikan kepada kami pal ing lambat 7 hari sejak tanggal account statement ini diterbitkan. </td>

        </tr>
        <tr>
            <td> <i>If you find any discrepancies on your account statement, please immediately notify the sender 7 days at the latest after the information issued </i></td>
        </tr>

        <tr>
            <td rowspan='2'>3. </td>
            <td> Jika anda bukan pemilik yang tercantum namanya dalam account statement ini, mohon anda tiddak menggunakan, memanfaatkan, menyebarkan, mendistribusikan/menggunakan lembar ini beserta lampirannya ( jika ada).</td>
        </tr>
        <tr>
            <td><i>Any retransmission, dissemination or other use of, or taking of any activation in reliance upon, this material / information (including any attachments) by anyone other than the addressed name are strictly prohibited.</i></td>
        </tr>

        <tr>
            <td rowspan='2'>4. </td>
            <td> Jika Bapak/Ibu membutuhkan informasi lebih lanjut berkaitan dengan account statement ini silahkan menghubungi Contact Person diatas.</td>
        </tr>
        <tr>
            <td><i>Should you require any further information regarding the account statement, please kindly contact the person above</i></td>
        </tr>
    </table>
</div>

<!-- <h1>My First CSS Example</h1> -->
</body>

</html>