<!DOCTYPE html>
<html>

<head>
    <style>

        body {
            border: 1px solid;
            padding: 10px;
            font-size: 12px;
            font: 9pt "Times New Roman, Times, serif";
        }

        .pull-right {
            /*float: right !important;*/
            text-align: right;
        }

        h3 {
            font-weight: bold;
        }

        table.info tr td:first-child {
        }

        table.payment {
            border-collapse: collapse;
            width: 100%;
        }

            table.payment th,
            table.payment td {
                padding: 8px;
            }

            table.payment tr:nth-child(even) {
                background-color: #fff;
            }

            table.payment th {
                background-color: #222222;
                color: #fff;
            }

        .total {
            background-color: #fff;
        }

        .tab {
            display: inline-block;
            margin-left: 40px;
        }

        .bold {
            font-weight: bold;
        }

        table.disclaimer tr td:first-child {
            width: 2vw;
        }

        .disclaimer {
            font-size: 8px;
        }
    </style>
</head>

<body>
    <!-- HEADER -->
    <table style="width: 100%;">
        <tr>
            <td style="width: 70%;">
                <img style='width:50px;height:auto;' src='data:image/png;base64,{{projectImage}}'>
            </td>
            <td style="width: 30%;">
                <h3>
                    <strong> Account Statement</strong>
                    <br> Published Date : {{publishDate}}
                </h3>
            </td>
        </tr>
    </table>
    <!-- CONTENT -->
    <div style='margin-bottom: 25px'>
        <table class='info'>
            <tr>
                <td>Customer Name / No. </td>
                <td> : </td>
                <td> {{psName}} / {{psCode}}</td>
            </tr>
            <tr>
                <td><img style='width:50px;height:auto;' src='data:image/png;base64,{{projectImage}}'></td>
                <td> : </td>
                <td> <b>{{projectName}}</b></td>
            </tr>
            <tr>
                <td>Unit Code / No.</td>
                <td> : </td>
                <td>{{unitCode}} / {{unitNo}}</td>
            </tr>
            <tr>
                <td>Book Code / Date</td>
                <td> : </td>
                <td>{{bookCode}} / {{bookDate}}</td>
            </tr>
            <tr>
                <td>Selling Price (Inc. VAT) </td>
                <td> : </td>
                <td>{{sellingPrice}}</td>
            </tr>
            <tr>
                <td>Payment Term</td>
                <td> : </td>
                <td>{{paymentTerm}}</td>
            </tr>
            <tr>
                <td>Sales Admin Contact</td>
                <td> : </td>
                <td>
                    {{salesName}} (Phone: {{salesPhone}} or Email: <br>
                    {{salesEmail}})
                </td>
            </tr>
        </table>
    </div>
    <!-- TABLE PAYMENT -->
    <div style='margin-bottom: 50px'>
        <table class='payment'>
            <!-- START HEADER TABLE PAYMENT -->
            <tr>
                <th>Due Date</th>
                <th>Payment Date </th>
                <th>Transaction Description</th>
                <th>Scheduled Amount</th>
                <th>Payment Amount</th>
            </tr>