<html>
<head>
    <style>
        body {
            width: 100%;
            height: 100%;
            font-size: 10px;
        }

        .report-order {
            width: 100%;
            margin-top: 20px;
            margin-bottom: 25px;
            border-collapse: collapse;
            word-wrap: break-word;
			
        }

        table.report-order th {
            font-weight: 700;
            border: 1px solid #dddddd;
            background-color: #cccccc;
            text-align: center;
        }

        .signature {
            position: initial;
            text-align: center;
            height: 100px;
            bottom: 5px;
            vertical-align: bottom;
        }

        .date {
            position: initial;
            text-align: center;
            vertical-align: top;
        }

        h2 {
            text-align: center;
            font-size: 15px;
        }
        tr.noBorder td {
            border: 0;
            height: 20px;
            font-size: 12px;
        }
        tr.withBorder td {
            border: 1px solid #dddddd;
            font-size: 10px;
        }
        td {
            white-space: pre-wrap; /* Since CSS 2.1 */
            word-wrap: break-word;
            word-break: break-all;
			text-align: center;
        }
    </style>
</head>

<body>
    <div>
        <h2>
            Report Order [Detail]
        </h2>
    </div>
    <table class="report-order">
            <thead>
                <tr>
                    {{headerHtml}}
                </tr>
            </thead>
            <tbody>
                {{bodyHtml}}
                <tr>
					<td style="text-align: left; color: black;" colspan="{{colspanTbl}}"><b>GRAND TOTAL</b></td>
					<td style="color: black"><b>{{grandTotal}}</b></td>
				</tr>
			</tbody>
	</table>
</body>
</html>