<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html>
	<style>
		body {
            padding: 0;
            background-color: #FFFFFF;
			font-size: 11.5px;
			padding-right: 5px;
			width: 841px;
        }
	</style>
	<body style="font-family: Arial">
		<table style="margin-top: -10px">
			<tr>
				<td style="width: 413px; margin-top: 0px">
						<div style="margin-left: 0px;">
							<p style="font-size: 10px;"><i>lembar pemesan</i></p>
							<h2 align="center" ><strong>Formulir Permohonan Pengembalian Uang Priority Pass <i>ProjectName</i></strong></h2>
							<br>
							<table>
								<tr>
									<td width="53px">No Form</td>
									<td>:</td>
									<td>{{noForm}}</td>
								</tr>
								<tr>
									<td>Tanggal</td>
									<td>:</td>
									<td>{{tanggal}}</td>
								</tr>
							</table>
							<table>
							<tr>
								<td><b>Yang bertanda tangan di bawah ini:</b></td>
							</tr>
						</table>
						</div>
						<br>
						<table style=" margin-left: 10px">
							<tr>
								<td>Nama Pemesan</td>
								<td>:</td>
								<td>{{customerName}}</td>
							</tr>
							<tr>
								<td>No Priority Pass</td>
								<td>:</td>
								<td>{{PPNumber}}</td>
							</tr>
							<tr>
								<td>Tanggal Cetak</td>
								<td>:</td>
								<td><i>{{tglCetak}}</i></td>
							</tr>
						</table>
						<table>
							<tr>
								<td>bermaksud menguangkan kembali uang pembelian Priority Pass yang dibayar secara {{paymentType}} pada tanggal {{tglTransfer}} dengan alasan {{refundReason}}</td>
							</tr>
						</table>
						<br>
						<table>
							<tr>
								<td>Mohon dana tersebut ditransfer ke :</td>
							</tr>
						</table>
						<br>
						<table style=" margin-left: 10px">
							<tr  >
								<td>Nama Bank</td>
								<td>:</td>
								<td>{{bankName}}</td>
							</tr>
							<tr  >
								<td>No Rekening</td>
								<td>:</td>
								<td>{{noRek}}</td>
							</tr>
							<tr>
								<td>Atas Nama</td>
								<td>:</td>
								<td>{{rekName}}</td>
							</tr>
						</table>
						<table>
							<tr>
								<td  >Terlampir kami sertakan <b>lembar asli Priority Pass,</b></td>
							</tr>
						</table>
						<br>
						<br>
						<br>
						<table>
							<tr>
								<td width="180px" colspan="2"><b>Diajukan oleh</b></td>
								<td><b>Disetujui oleh</b></td>
							</tr>
							<tr>
								<td width="180px">Pemesan</td>
								<td width="100px">Sales Officer</td>
								<td>Closing Officer</td>
							</tr>
						</table>
						<br><br><br><br><br>
						<table>
							<tr>
								<td width="180px">{{customerName}}</td>
								<td   width="100px">Nama Jelas</td>
								<td  >Nama Jelas</td>
							</tr>
						</table>
						<br><br><br>
						<table>
							<tr>
								<td  ><b>Keterangan</b></td>
							</tr>
							<tr>
								<td  >Permohonan refund akan diproses dalam waktu paling lambat 2 (dua) minggu sejak permohonan lengkap diterima.</td>
							</tr>
						</table>
				</td>
				<td style="margin-top: 0px">
					<div style="margin-left: 0px;">
							<p style="font-size: 10px;"><i>lembar penerima pesanan</i></p>
							<h2 align="center" ><strong>Formulir Permohonan Pengembalian Uang Priority Pass <i>ProjectName</i></strong></h2>
							<br>
							<table>
								<tr>
									<td width="53px">No Form</td>
									<td>:</td>
									<td>{{noForm}}</td>
								</tr>
								<tr>
									<td>Tanggal</td>
									<td>:</td>
									<td>{{tanggal}}</td>
								</tr>
							</table>
							<table>
							<tr>
								<td><b>Yang bertanda tangan di bawah ini:</b></td>
							</tr>
						</table>
						</div>
						<br>
						<table style=" margin-left: 10px">
							<tr>
								<td>Nama Pemesan</td>
								<td>:</td>
								<td>{{customerName}}</td>
							</tr>
							<tr>
								<td>No Priority Pass</td>
								<td>:</td>
								<td>{{PPNumber}}</td>
							</tr>
							<tr>
								<td>Tanggal Cetak</td>
								<td>:</td>
								<td><i>{{tglCetak}}</i></td>
							</tr>
						</table>
						<table>
							<tr>
								<td>bermaksud menguangkan kembali uang pembelian Priority Pass yang dibayar secara {{paymentType}} pada tanggal {{tglTransfer}} dengan alasan {{refundReason}}</td>
							</tr>
						</table>
						<br>
						<table>
							<tr>
								<td>Mohon dana tersebut ditransfer ke :</td>
							</tr>
						</table>
						<br>
						<table style=" margin-left: 10px">
							<tr  >
								<td>Nama Bank</td>
								<td>:</td>
								<td>{{bankName}}</td>
							</tr>
							<tr  >
								<td>No Rekening</td>
								<td>:</td>
								<td>{{noRek}}</td>
							</tr>
							<tr>
								<td>Atas Nama</td>
								<td>:</td>
								<td>{{rekName}}</td>
							</tr>
						</table>
						<table>
							<tr>
								<td  >Terlampir kami sertakan <b>lembar asli Priority Pass,</b></td>
							</tr>
						</table>
						<br>
						<br>
						<br>
						<table>
							<tr>
								<td width="170px" colspan="2"><b>Diajukan oleh</b></td>
								<td width="100px"><b>Disetujui oleh</b></td>
								<td><b>Diproses oleh</b></td>
							</tr>
							<tr>
								<td width="100px">Pemesan</td>
								<td width="100px">Sales Officer</td>
								<td width="100px">Closing Officer</td>
								<td>Finance</td>
							</tr>
						</table>
						<br><br><br><br><br>
						<table>
							<tr>
								<td width="100px">{{customerName}}</td>
								<td width="100px">Nama Jelas</td>
								<td width="100px">Nama Jelas</td>
								<td>Nama Jelas</td>
							</tr>
						</table>
						<br><br><br>
						<table>
							<tr>
								<td  ><b>Keterangan</b></td>
							</tr>
							<tr>
								<td  >Permohonan refund akan diproses dalam waktu paling lambat 2 (dua) minggu sejak permohonan lengkap diterima.</td>
							</tr>
						</table>
				</td>
			</tr>
		</table>
		
		<!--<div style="margin-left: 0px;">
			<p style="font-size: 10px;"><i>lembar penerima pesanan</i></p>
			<h2 align="center" ><strong>Formulir Permohonan Pengembalian Uang Priority Pass <i>ProjectName</i></strong></h2>
			<br>
			<table>
				<tr>
					<td width="53px">No Form</td>
					<td>:</td>
					<td>{{noForm}}</td>
				</tr>
				<tr>
					<td>Tanggal</td>
					<td>:</td>
					<td>{{tanggal}}</td>
				</tr>
			</table>
			<table>
			<tr>
				<td><b>Yang bertanda tangan di bawah ini:</b></td>
			</tr>
		</table>
		</div>
		<br>
		<table style=" margin-left: 10px">
			<tr>
				<td>Nama Pemesan</td>
				<td>:</td>
				<td>{{customerName}}</td>
			</tr>
			<tr>
				<td>No Priority Pass</td>
				<td>:</td>
				<td>{{PPNumber}}</td>
			</tr>
			<tr>
				<td>Tanggal Cetak</td>
				<td>:</td>
				<td><i>{{tglCetak}}</i></td>
			</tr>
		</table>
		<table>
			<tr>
				<td>bermaksud menguangkan kembali uang pembelian Priority Pass yang dibayar secara Transfer pada tanggal {{tglTransfer}} dengan alasan {{refundReason}}</td>
			</tr>
		</table>
		<br>
		<table>
			<tr>
				<td>Mohon dana tersebut ditransfer ke :</td>
			</tr>
		</table>
		<br>
		<table style=" margin-left: 10px">
			<tr  >
				<td>Nama Bank</td>
				<td>:</td>
				<td>{{bankName}}</td>
			</tr>
			<tr  >
				<td>No Rekening</td>
				<td>:</td>
				<td>{{noRek}}</td>
			</tr>
			<tr>
				<td>Atas Nama</td>
				<td>:</td>
				<td>{{rekName}}</td>
			</tr>
		</table>
		<table>
			<tr>
				<td  >Terlampir kami sertakan <b>lembar asli Priority Pass,</b></td>
			</tr>
		</table>
		<br>
		<br>
		<br>
		<table>
			<tr>
				<td width="180px" colspan="2">Diajukan oleh</td>
				<td>Disetujui oleh</td>
			</tr>
			<tr>
				<td width="180px">Pemesan</td>
				<td width="100px">Sales Officer</td>
				<td>Closing Officer</td>
			</tr>
		</table>
		<br><br><br><br><br>
		<table>
			<tr>
				<td width="180px">{{customerName}}</td>
				<td   width="100px">Nama Jelas</td>
				<td  >Nama Jelas</td>
			</tr>
		</table>
		<br><br><br>
		<table>
			<tr>
				<td  ><b>Keterangan</b></td>
			</tr>
			<tr>
				<td  >Permohonan refund akan diproses dalam waktu paling lambat 2 (dua) minggu sejak permohonan lengkap diterima.</td>
			</tr>
		</table> -->
	</body>
</html>