<html>
    <style>
        body{
        }
        table{
            font-family: Arial;
            font-size: 10px;
        }
        .css1{
            border: 1px solid #000;
        }
		.page{
			width: 555px;
			height: 782px;
		}
    </style>
    <body>
		<div class="page">
        <table>
            <tr>
                <td>
                    <!-- <center><img src="data:image/png;base64,{{banner}}" width="540px"></center> -->
					<img src="E:\Kerja\Net Core\Engine3-Core\src\VDI.Demo.Web.Host\wwwroot\Assets\Upload\PPOnline\Image\hmmm.png" width="540px">
                </td>
            </tr>
        </table>
        
        <table style="width: 100%;">
            <tr>
                <td style="width:266px"></td>
                <td><p>Tanggal: {{tanggal}}</p></td>
            </tr>
            <tr>
                <td>Nama Pemesan</td>
                <td>Nomor Identifikasi KTP / Paspor (Mohon lampirkan fotocopy)</td>
            </tr>
        </table>
        <table >
            <tr>
                <td style="border: 1px solid #000; width:266px; height: 35px;">&nbsp; {{customerName}}</td>
                <td style="border: 1px solid #000; width:266px; height: 35px;">&nbsp; {{idNo}}</td>
            </tr>
        </table>
        <table >
            <tr>
                <td>Alamat Surat Menyurat</td>
            </tr>
        </table>
        <table>
            <tr>
                <td style="border: 1px solid #000; height: 35px; width: 533px;"></td>
            </tr>
        </table>
        <table >
            <tr>
                <td style="width:266px;">Nomor Handphone</td>
                <td>Nomor Telepon Rumah</td>
            </tr>
        </table>
        <table >
            <tr>
                <td style="border: 1px solid #000; width:    266px; height: 35px;">&nbsp; {{noHp}}</td>
                <td style="border: 1px solid #000; width:    266px; height: 35px;"></td>
            </tr>
        </table>
        <table >
            <tr>
                <td style="width:    266px;">Nomor Telepon Kantor</td>
                <td>Email</td>
            </tr>
        </table>
        <table >
            <tr>
                <td style="border: 1px solid #000; width:    266px; height: 35px;"></td>
                <td style="border: 1px solid #000; width:    266px; height: 35px;">&nbsp; {{email}}</td>
            </tr>
        </table>
        <table >
            <tr>
                <td style="width:    266px;">Metode Pembayaran - Bank Asal</td>
                <td>Kode - Deal Closer</td>
            </tr>
        </table>
        <table >
            <tr>
                <td style="border: 1px solid #000; width:    266px; height: 35px;">&nbsp; {{metodePembayaran}}</td>
                <td style="border: 1px solid #000; width:    266px; height: 35px;">&nbsp; {{memberCode}} - {{memberName}}</td>
            </tr>
        </table>
        <table >
            <tr>
                <td style="border: 1px solid #000; width:    266px; height: 70px;">
                    <p align="center">Telah terima uang sejumlah</p>
                    <p align="center">Rp. {{PPPrice}}</p>                                                                                             
                </td>
                <td style="border: 1px solid #000; width:    266px; height: 80px;">
                    <p align="center">
					<strong>PRIORITY NO.</strong><strong>&nbsp; {{PPNO}} </strong> 
					</p>
					<p align="center"><img src="data:image/jpeg;base64, {{barcode}}" width="120px" height="40px"></p>
				</td>
            </tr>
        </table>
        <br>
        <table>
            <tr>
                <td width="533px">
                    <center><img src="data:image/jpeg;base64,{{TNC}}" width="450px" height="292px"></center>
                </td>
            </tr>
        </table>
		
		</div>
    </body>
</html>
