﻿<!DOCTYPE HTML>
<html>
<head>
    <meta charset="utf-8" />
    <style>
        body {
            font-family: Times New Roman;
            font-size: 10pt;
            padding: 1cm 1cm 0 1cm;
        }

        .header {
            margin-left: -1px;
            width: 100%;
            height: 30px;
        }

        .header-left {
            width: 50%;
        }

        .header-right {
            width: 50%;
            text-align: right;
        }

        h1 {
            font-size: 10pt;
            text-align: center;
        }
    </style>
</head>
<body>
    <h1>
        TANDA TERIMA DOKUMEN<br />
        No {{TandaTerimaNo}}
    </h1>
    <p>
        Telah diserahkan kepada {{Nama}} ("Pemesan") pada {{DocDate}},
        dokumen-dokumen sebagaimana di bawah ini:
    </p>
    <ol>
        <li>
            Penegasan dan Persetujuan Pemesanan Blok {{UnitCode}} Tower {{UnitCode}} Unit No. {{UnitNo}} tertanggal {{PPDate}} atas
            nama Pemesan –asli dan bermaterai;
        </li>
    </ol>
    <p>
        Dokumen-dokumen tersebut di atas telah diserahkan oleh {{CompanyName}}
        ("Penerima Pesanan") dengan ketentuan sebagai berikut:
    </p>
    <ol>
        <li>
            Pemesan dan/atau pengirim telah memastikan bahwa seluruh dokumen yang
            dikirim oleh Pemesan dan/atau Pengirim adalah lengkap, benar, serta telah
            ditandatangani secara sah oleh Pemesan;
        </li>
        <li>
            Penerima Pesanan dikemudian hari berhak untuk melakukan pengecekan kembali
            dokumen-dokumen yang telah diterima oleh Penerima Pesanan. Apabila
            terdapat ketidaklengkapan dokumen dan/atau dokumen yang diterima oleh
            Penerima Pesanan dianggap tidak sah dan/atau tidak sesuai, baik oleh
            Penerima Pesanan sendiri maupun pihak lainnya yang terkait (misalnya Bank
            dan/atau lembaga keuangan lainnya), maka Penerima Pesanan akan segera
            menginformasikannya kepada Pemesan, dan Pemesan wajib untuk segera
            melengkapi dokumen tersebut sesuai waktu yang ditentukan oleh Penerima
            Pesanan.
        </li>
    </ol>

    <table style="margin-top: 60px; width: 100%">
        <tr>
            <td style="width: 50%">.........................,.........................</td>
            <td style="width: 50%"></td>
        </tr>
        <tr>
            <td>Diserahkan Oleh,</td>
            <td>Diterima Oleh,</td>
        </tr>
    </table>
</body>
</html>