<html>
<head>
    <style>
        body {
            width: 100%;
            height: 100%;
        }
        .account-table{
            width:100%;
            position:relative;
            margin-top:20px;
            border: 1;
        }
        .account-table thead{
            font-weight: 700;
            background-color: #cccccc;

        }
        .account-table tbody{
            background-color: #f2f2f2;
        }
    </style>
</head>
<body>
	<div>
        <table style="width:100%;position:relative;">
            <tbody>
                <tr>
                    <td>
                       Dear Accounting,
                       <br> 
                    </td>
                </tr>
            </tbody>
        </table>
        <table class="account-table">
            <thead>
                <tr>
                    <td>Accounting Date</td>
                    <td>Group ID</td>
                    <td>Bank Account</td>
                </tr>
            </thead>
            <tbody>
                {{dataAccount}}
            </tbody>
        </table>
    </div>	
</body>
</html>