<html>
<head>
    <style>
        body {
            width: 100%;
            height: 100%;
        }
        hr.dashed {
			border-top: 2px dashed black;
		}		
		p {
		    white-space: p-wrap;       /* Since CSS 2.1 */
		    white-space: -moz-p-wrap;  /* Mozilla, since 1999 */
		    white-space: -p-wrap;      /* Opera 4-6 */
		    white-space: -o-p-wrap;    /* Opera 7 */
		    word-wrap: break-word;       /* Internet Explorer 5.5+ */
		}
    </style>
</head>
<body>
	<div>
        <table style="width:100%;position:relative;">
            <tbody>
                <tr>
                    <td>
                       <p>Yth. Bapak/Ibu {{name}},
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%;position:relative;margin-top:20px">
            <tbody>
                <tr>
                    <td>
                        <p>Terima Kasih atas kepercayaan Bapak/Ibu untuk membeli produk kami. Bersama ini kami kirimkan [Tipe Surat] untuk [Project Name] [Unit Name] [Unit No]. Untuk membukanya, mohon pastikan Bapak/Ibu memiliki program Adobe Reader.
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Kami mohon Bapak/Ibu dapat segera menyelesaikan pembayaran. Apabila Bp./Ibu sudah melakukan pembayaran, mohon abaikan email ini beserta lampirannya.
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Untuk informasi dan keterangan lebih lanjut dapat menghubungi petugas kami seperti dalam isi surat: Senin - Jumat: 09:00 - 17:00 WIB.
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Demikian kami sampaikan. Terima kasih atas kesempatan yang diberikan kepada kami untuk melayani Bapak/Ibu.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%;position:relative;margin-top:40px">
            <tbody>
                <tr>
                    <td>
                    	<p>Hormat Kami,<br>Property Sales Administration and Services</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <hr class="dashed">
        <table style="width:100%;position:relative;">
            <tbody>
                <tr>
                    <td>
                       <p>Dear Mr/Ms {{name}},
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%;position:relative;margin-top:20px">
            <tbody>
                <tr>
                    <td>
                        <p>Thank you for choosing Lippo Homes Product. Herewith are [Tipe Surat] of unit [Project Name] [Unit Name] [Unit No]. In addition, you will require Adobe Acrobat Reader program to actually open the file.
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>We would appciate if you made your payment promptly. Please disregard this email if payment has already been made.
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Please do not hesitate to contact our officers for further assistance and information on Monday to Friday from 09:00 - 17:00 WIB.
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Thank you for your kind attention and it’s been a pleasure to serve you.</p>
                    </td>
                </tr>
            </tbody>
        </table>
        <table style="width:100%;position:relative;margin-top:40px">
            <tbody>
                <tr>
                    <td>
                    	<p>Best Regards,<br>Property Sales Administration and Services</p>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>	
</body>
</html>